{% extends 'layout.html' %}   
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
{% endblock %}

{% block content %}
<body>

<head>       
    <title>weitere Projekte</title>
</head>
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>weitere Projekte</a>
    </div>
</header>
<div class="container">
    <ul>
        <li><h1>Bingo:</h1>
            <img src="{% static 'medien/lernbox.jpg' %}" width="200" height="150" style="float:left; margin: 10px;"/> 
            Mit Bingo haben die Schülerinnen und Schüler viel Spaß.<br>
            Entstanden ist Bingo aus dem Projekt <b>Vokabeltrainer</b> bzw. <b>Lernkärtchen</b>.<br> 
            Es basiert auf dem bekannten Prinzip der <b>Lernbox</b>. Diese wird (wurde) häufig für das Lernen von Vokabeln benutzt:<br>
            Auf kleine Karteikarten schreibt man auf der einen Seite z.B. englische Vokabeln, auf die Rückseite die deutschen Übersetzungen. Das Kärtchen kommt in das erste Fach der Box. 
            Zum Lernen nimmt man jeden Tag die Kärtchen aus diesem Fach heraus, liest die Vokabel, überlegt die Übersetzung und kontrolliert diese mit Hilfe der Rückseite. Wenn die Lösung richtig ist, 
            kommt das Kärtchen in die nächste Box, ist die Übersetzung falsch, kommt das Kärtchen zurück in die erste Box.
            Jede Woche konntroliert man, ob man die Vokabeln in der zweite Box noch kann, falls ja, kommt das Kärtchen in die dritte Box, falls nein, kommt sie zurück in die erste ...<br>
            Früher hat man diese Kärtchen <b>mit der Hand beschriftet</b>!
        </li>
        <li>
            Aber in der Zwischenzeit gibt es viele Apps, mit denen man Vokabeln mit dem Smartphon lernen kann - aber es gibt tatsächlich noch Schülerinnen und Schüler, die gerne mit der Lernbox arbeiten. 
            ... Vor allem kann man mit diese Lernkärtchen auch <b>für andere Fächer lernen</b> - Ich habe Lernkärtchen für Geografie (Hauptstädte Europas, Großstädte auf der Erde oder Gebirge, Flüsse, Bundesländer, 
            Staaten Europas, Asiens oder der USA anhand einer Landkarte benennen), Geschichte ("Steinzeit", "Ägypten", "Die Römer") oder Biologie ("Ernährung"). Es gibt Lernkärtchen zur Mathematik ("Fläche", "große Zahlen")
            und sogar Lernkärtchen zum Sonnensystem ... wer interessiert ist, darf mir gerne eine Mail schreiben (info@rechentrainer.app).
        </li>
        <li>
            <img src="{% static 'medien/bingo.jpg' %}" width="200" height="150" style="float:left; margin: 10px;"/> 
            ... und was hat das mit <b>Bingo</b> zu tun? Ich habe eine App programmiert, mit der man diese Kärtchen aus einer Liste erstellen kann, 
            aber da diese Lernkärtchen heute nicht mehr so modern sind, habe ich mir was Neues überlegt:<br>
            Auf Wunsch werden aus dieser Liste <b>Bingokarten</b> erstellt - rechts seht ihr ein Beispiel für die Hauptstädte Europas. Der Lehrer/die Lehrerin liest aus der Liste eine Hauptstadt Europas vor, 
            die Schülerinnen und Schüler suchen auf ihrer Bingokarte das entsprechende Land dazu und kreuzt es an - jede/r hat eine andere Bingokarte. 
            Wer zuerst alle Länder in einer Reihe oder Spalte komplett durchgestrichen hat ruft <b>"Bingo"</b> und erhält einen Preis.
        </li>
            <li>
                Um die <b>Lernbox</b> und <b>Bingo</b> benutzen zu können, benötigt man, wie an anderer Stelle erwähnt, einen PC und auf diesem muss OpenOffice oder Libre Office installiert sein. 
                <a href="{% static 'medien/lernbox.pdf' %}">Hier findet man das Handbuch für die Lernbox und für Bingo.</a>. 
                Die Lernbox und Bingo kann <a href="{% url 'download_lernbox' %}">hier</a> heruntergeladen werden.
            </li> 
            <li>
                Eine Gebrauchsanweisung für Bingo und die Lernbox gibt es <a href="{% static "medien/lernbox.pdf#Bingo" %}">hier</a>.<br>
                Übrigens: Man kann auch Bingokarten für Vokabeln oder auch für Themen aus der Mathematik erzeugen.<br>
                Hier gibt es eine Datei mit Aufgaben zu <a href="{% static 'medien/bingo_mathe.ods' %}">Termen, Wurzeln und binomischen Formeln :)</a>  
            </li>
            <li><h1>Die Ampel:</h1>
            <img src="{% static 'medien/ampel.jpg' %}" width="200" height="150" style="float:left; margin: 10px;"/> 
            Vielleicht verirrt sich ja jemand hierher, der Spass am Programmieren hat:<br> Ich habe eine <b>Ampelsteuerungs-App</b> in der <b>Tabellenkalkulation</b> "calc" von OpenOffice programmiert. 
            <a href="{% static 'medien/ampel.ods' %}">Hier ist die Datei mit dem Code.</a>(Auch hier gilt: OpenOffice oder Libre Office muss installiert sein.)<br>
            (Wenn man auf die hellgrauen Felder am Anfang der jeweiligen Fahrspuren klickt, fährt ein zusätzliches Auto los.)<br><br> <br><br>
        </li>
        <li><h1>Der Physiktrainer:</h1>
            <img src="{% static 'medien/physiktrainer.jpg' %}" width="200" height="150" style="float:left; margin: 10px;"/> 
            Meiner Meinung nach reichen die Physikstunden nicht aus, um unseren Schülerinnen und Schülern die wichtigsten Grundlagen der Physik beizubringen.<br>
            Ich habe daher angefangen, einen Physiktrainer zu erstellen. Dieser baut ebenfalls auf dem Prinzip der Lernbox auf:<br>
            Man beantwortet zunächst die Fragen in der ersten Lernbox. Bei einer richtigen Anwort wandert das "Kärtchen" in das nächste Fach und wenn die erste Box leer ist,
            überprüft man, ob man die Fragen immer noch richtig beantworten kann, falls ja, wandern sie eine Box weiter, falls nein, wandern sie wieder eine Box zurück ...<br>
            Es gibt diese Boxen in drei Schwierigkeitsgraden und für alle Themen der Sek1.<br>
            Noch baut diese Verison auf der Tabellenkalkulation von OpenOffice/LibreOffice auf, sie soll aber als browsergestützte App weiterentwickelt werden. Wer sich diese Vorabversion schon mal anschauen will:
            <a href="{% static 'medien/physiktrainer_beta.ods' %}">Hier kann man den Physiktrainer herunterladen.</a>(Es handelt sich aber bisher eher um eine Idee.)<br>
            (Auch hier gilt: OpenOffice oder Libre Office muss installiert sein.)<br>
            Sollte jemand an diesem Projekt mitarbeiten wollen oder eine Nachricht erhalten möchte, wie es damit weitergeht, kann mir gerne eine Mail schicken.
        </li>
    </ul>
</div>
{% endblock %}
</html>
