{% load static %}
{% load l10n %}

<html lang="de">
    <head>       
        <title>Rechentrainer von Peter Doll</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'core/aufgabe.css' %}">
        <link rel="stylesheet" href="{% static 'duell.css' %}">

        <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }
        </style>
    </head>

<body>
    <div class="container">
        {% block content %}
            <div class= "oben">
                <div class="navbar">
                    {% if user.is_authenticated %}
                        <p>Duell {{duell_protokoll.gruppe.name}}</p>
                    {% else %}
                        <p>Du bist nicht eingeloggt</p>
                        <a href="{% url 'einloggen' %}">Log In</a>
                    {% endif %}
                </div>
                {% autoescape off %}
                <div class="message">
                    {% for message in messages %}
                        {% if 'leider falsch' in message.message %}
                            <p class = "rot">{{ message }}</p>
                        {% elif 'halb' in message.message %}
                            <p class = "gelb">{{ message }}</p>
                        {% elif 'dreimal'  in message.message %}
                            <p class = "rot">{{ message }}</p>
                        {% elif 'war richtig!' in message.message %}
                            <p class = "gruen">{{ message }}</p>
                        {% else %}
                            <p class ="gelb">{{ message }}</p>
                        {% endif%}
                    {% endfor %}
                </div>
                <h2> {{protokoll.titel }}</h2>
                <h3>Aufg. Nr. {{protokoll.aufgnr}}/10 </h3> 
                <h3>{{protokoll.text}} {{protokoll.aufgabe}}</h3>
            </div>
            <div class="mitte">
                <p>
                {% localize off %}
                    {% if parameter.name != "normal" and not "tab" in parameter.name %}
                        {% include parameter.name %} 
                    {% endif %}
                {% endlocalize %}
                </p>
            </div>
            <div class="unten">
                {% if "tab" in parameter.name %}
                    {% if lsg %}
                        {% include 'core/wertetabelle_lsg.html'%}
                    {% else %}
                        {% include 'core/wertetabelle.html'%}
                    {% endif %}
                {% endif %}
                {% if 'dreimal' in message_unten %}
                    <button type="button">
                        <a href="{% url 'uebersicht'  %}">weiter</a>
                    </button>
                {% elif lsg %}
                    {% if eingabe != " " %}
                        <p class="rot"><b>Deine Eingabe: {{protokoll.eingabe}}</b></p>
                    {%endif%}
                    <button type="button">
                        <a href="{% url 'duell_aufgabe' duell_protokoll.gruppe protokoll.kategorie.slug  %}">nächste Aufgabe</a> 
                    </button>
                {% else %}
                    <form action="{% url 'duell_kontrolle' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class = "fett">
                                {{protokoll.frage}}
                                {{richtig}}
                                {{form.eingabe}}
                                {{protokoll.einheit}}
                            </div>
                            <p></p>
                            <table>
                                <tr>
                                    {% if richtig %}
                                        <td class = {{duell_protokoll.duellant_1.liga}} style = "height: 35px; width: 280px;font-weight: bold;" >{{duell_protokoll.duellant_1.name}}</td>
                                    {% else %}
                                        <td><input type="submit" id="Eins" name = "duellant" value={{duell_protokoll.duellant_1.name}} class = {{duell_protokoll.duellant_1.liga}}></td>
                                    {% endif %}
                                    <td class = "{{farbe_1}}">{{duell_protokoll.duellant_1.punkte_spiel}}</td>
                                    <td class = "minus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_1.id "minus" %}">-</a></td>
                                    <td class = "plus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_1.id "plus" %}">+</a></td>
                                </tr>
                                <tr>
                                    {% if richtig %}
                                        <td class = "null">gleich schnell</td>
                                    {% else %}
                                        <td><input type="submit" name = "duellant" value="gleich schnell" style = "background-color: #FFDEAD;"></td></tr>                                    
                                    {% endif %}
                                <tr>
                                    {% if richtig %}
                                        <td class = {{duell_protokoll.duellant_2.liga}} style = "height: 35px; width: 280px;font-weight: bold;" >{{duell_protokoll.duellant_2.name}}</td>
                                    {% else %}
                                        <td><input type="submit" id="Eins" name = "duellant" value={{duell_protokoll.duellant_2.name}} class = {{duell_protokoll.duellant_2.liga}}></td>
                                    {% endif %}                                    <td class = "{{farbe_2}}">{{duell_protokoll.duellant_2.punkte_spiel}}</td>
                                    <td class = "minus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_2.id "minus" %}">-</a></td>
                                    <td class = "plus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_2.id "plus" %}">+</a></td>
                                </tr>

                            </table>
                        </fieldset>
                    </form>
                    <script>
                        document.getElementById('id_eingabe').addEventListener('keypress', function(event) {
                            if (event.keyCode == 13) {
                                event.preventDefault();
                            }
                        });
                    </script>
                    <p></p>
                    <table>
                        <tr><td>
                            <button type="button">
                                <a style= "font-weight: bold;" href="{% url 'duell_aufgabe' protokoll.kategorie.slug %}">nächste Aufgabe</a>
                            </button>
                        </td>
                        <td  style = "background-color: #FFDEAD;">Zeit</td>
                        <td>
                            <button type="button">
                                <a href="{% url 'duell_uebersicht' duell_protokoll.gruppe.id %}">Abbrechen</a>
                            </button>
                        </td></tr>
                        <tr><td>
                            <button type="button" >
                                <a href="{% url 'neu_auslosen' "mit" %}">neue Kandidaten mit Punktabzug</a>
                            </button>
                        </td><td>
                            <button type="button">
                                <a href="{% url 'neu_auslosen' "ohne"  %}">neue Kandidaten ohne Punktabzug</a>
                            </button>
                        </td><td>
                            <button type="button">
                                <a href="{% url 'duell_loesung'  %}">Lösung</a>
                            </button>
                        </td></tr>
                    </table>
                {% endif%}
            {% endautoescape %}
        {% endblock %}
    </div>
</body>
