{% load static %}
{% load l10n %}

<html lang="de">
<head>       
    <title>Rechentrainer von Peter Doll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/aufgabe.css' %}">
    <link rel="stylesheet" href="{% static 'duell.css' %}">

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>

    <script>

    </script>

    <script>
        let einsStars = "";
        let zweiStars = "";
        let starCount = 0;
        let sekunden = 0;

        // Funktion, um die Uhr zu starten
        function starteUhr() {
            setInterval(function() {
                sekunden++;
                document.getElementById('uhr').textContent = sekunden;
            }, 1000); // Update jede Sekunde
        }

        // Funktion zum Ausblenden und Einblenden der Meldung
        function toggleMeldung() {
            const meldungElement = document.getElementById('meldung');
            if (meldungElement) {
                meldungElement.style.visibility = 'hidden'; // Ausblenden
                setTimeout(function() {
                    meldungElement.style.visibility = 'visible'; // Einblenden nach 2 Sekunden
                }, 2000);
            }
    }

        // Funktion, um alle halbe Sekunde einen Stern hinzuzufügen
        const addStarsInterval = setInterval(function() {
            starCount++;
            einsStars += "*";
            zweiStars += "*";
            document.getElementById('Eins').value = einsStars;
            document.getElementById('Zwei').value = zweiStars;

            // Wenn 4 Sterne erreicht sind, stoppen und nach 2 Sekunden die Namen anzeigen
            if (starCount === 4) {
                clearInterval(addStarsInterval);
                
                setTimeout(function() {
                    document.getElementById('Eins').value = '{{duell_protokoll.duellant_1.name}}';
                    document.getElementById('Zwei').value = '{{duell_protokoll.duellant_2.name}}';
                    
                    // Farben sichtbar machen, indem die 'no-color' Klasse durch die Liga-Klassen ersetzt wird
                    document.getElementById('Eins').className = '{{ duell_protokoll.duellant_1.liga }}';
                    document.getElementById('Zwei').className = '{{ duell_protokoll.duellant_2.liga }}';
                    document.getElementById('meldung').textContent = '{{meldung}}';
                    
                }, 2000);
            }
        }, 500);
        // Überprüfe, ob das Ergebnis korrekt ist, um die Uhr zu starten oder zu stoppen
        document.addEventListener('DOMContentLoaded', function() {
            const richtig = "{{ richtig|default:'' }}"; // Holt den Wert von 'richtig' aus dem Template

            if (!richtig) {
                // Starte die Uhr, wenn 'richtig' leer oder None ist
                if (!localStorage.getItem('sekunden')) {
                    starteUhr();
                } else {
                    document.getElementById('uhr').textContent = sekunden + " Sek.";
                }
            } else {
                // Zeige die gespeicherte Zeit an, wenn 'richtig' nicht leer ist
                document.getElementById('uhr').textContent = sekunden;
            }
        });
    </script>
    {% comment %} <script>
        document.addEventListener('DOMContentLoaded', function() {
            const richtig = "{{ richtig|default:'' }}"; // Holt den Wert von 'richtig' aus dem Template
            const edit = "{{ edit|default:False }}"; // Holt den Wert von 'edit' aus dem Template
        
            console.log("Richtig:", richtig); // Debugging-Ausgabe
            console.log("Edit:", edit); // Debugging-Ausgabe
        
            if (!richtig && edit === "False") {
                // Starte die Uhr, wenn weder 'richtig' noch 'edit' gesetzt sind
                if (!localStorage.getItem('sekunden')) {
                    starteUhr();
                } else {
                    document.getElementById('uhr').textContent = sekunden + " Sek.";
                }
        
                // Füge die Sterne alle halbe Sekunde hinzu und zeige nach 2 Sekunden die Namen an
                const addStarsInterval = setInterval(function() {
                    starCount++;
                    einsStars += "*";
                    zweiStars += "*";
                    document.getElementById('Eins').value = einsStars;
                    document.getElementById('Zwei').value = zweiStars;
        
                    if (starCount === 4) {
                        clearInterval(addStarsInterval);
        
                        setTimeout(function() {
                            document.getElementById('Eins').value = '{{duell_protokoll.duellant_1.name}}';
                            document.getElementById('Zwei').value = '{{duell_protokoll.duellant_2.name}}';
        
                            // Farben sichtbar machen, indem die 'no-color' Klasse durch die Liga-Klassen ersetzt wird
                            document.getElementById('Eins').className = '{{ duell_protokoll.duellant_1.liga }}';
                            document.getElementById('Zwei').className = '{{ duell_protokoll.duellant_2.liga }}';
                        }, 2000);
                    }
                }, 500);
        
            } else {
                // Zeige die Namen und die Liga-Farben sofort an, wenn 'edit' wahr ist
                document.getElementById('Eins').value = '{{duell_protokoll.duellant_1.name}}';
                document.getElementById('Zwei').value = '{{duell_protokoll.duellant_2.name}}';
                document.getElementById('Eins').className = '{{ duell_protokoll.duellant_1.liga }}';
                document.getElementById('Zwei').className = '{{ duell_protokoll.duellant_2.liga }}';
                
                // Zeige die gespeicherte Zeit an
                document.getElementById('uhr').textContent = sekunden + " Sek.";
            }
        });
        
        function starteUhr() {
            uhrInterval = setInterval(function() {
                sekunden++;
                localStorage.setItem('sekunden'
    </script> {% endcomment %}
        
    <script>
        document.getElementById('id_eingabe').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>
</head>
<body>
    <div class="container">
        {% block content %}
            <div class= "oben">
                <div class="navbar">
                    {% if user.is_authenticated %}
                        <p>Duell {{duell_protokoll.gruppe.name}}</p>
                    {% else %}
                        <p>Du bist nicht eingeloggt</p>
                        <a href="{% url 'einloggen' %}">Log In</a>
                    {% endif %}
                </div>
                {% autoescape off %}
                <div class="message">
                    {% for message in messages %}
                        {% if 'leider falsch' in message.message %}
                            <p class = "rot">{{ message }}</p>
                        {% elif 'halb' in message.message %}
                            <p class = "gelb">{{ message }}</p>
                        {% elif 'dreimal'  in message.message %}
                            <p class = "rot">{{ message }}</p>
                        {% elif 'war richtig!' in message.message %}
                            <p class = "gruen">{{ message }}</p>
                        {% else %}
                            <p class ="gelb">{{ message }}</p>
                        {% endif%}
                    {% endfor %}
                </div>
                <h2> {{protokoll.titel }}</h2>
                <h3>Aufg. Nr. {{protokoll.aufgnr}}/10 </h3> 
                <h3>{{protokoll.text}} {{protokoll.aufgabe}}</h3>
            </div>
            <div class="mitte">
                <p>
                {% localize off %}
                    {% if parameter.name != "normal" and not "tab" in parameter.name %}
                        {% include parameter.name %} 
                    {% endif %}
                {% endlocalize %}
                </p>
            </div>
            <div class="unten">
                <form action="{% url 'duell_kontrolle' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                    {% if "tab" in parameter.name %}
                        {% if lsg %}
                            <table>
                                <tr>
                                    <th class = "linie_rechts">{{parameter.titel_x}}</th>
                                    <th>{{parameter.titel_y}}</th>
                                </tr>
                                {% if parameter.name != "tab_term" %}
                                    <tr>
                                        <td class = "linie_rechts">{{parameter.x0}}</td>
                                        <td>{{parameter.y0}}</td>                                                                       
                                    </tr>
                                    <tr>
                                        <td class = "linie_rechts">{{parameter.x1}}</td>
                                        <td>{{parameter.y1}}</td>                                                                    
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class = "linie_rechts">{{parameter.x5}}</td>
                                    <td>{{parameter.y5}}</td>                                                                    
                                </tr>
                            </table>
                        {% else %}
                            <table>
                                <tr>
                                    <th class = "linie_rechts">{{parameter.titel_x}}</th>
                                    <th>{{parameter.titel_y}}</th>
                                </tr>
                                {% if 'term' in parameter.name or 'funktion' in parameter.name%}  

                                {% else %}
                                    <tr>
                                        <td class = "linie_rechts">{{parameter.x0}}</td>
                                        <td>{{parameter.y0}}</td>                                                                       
                                    </tr>
                                    <tr>
                                        <td class = "linie_rechts">{{parameter.x1}}</td>
                                        <td>{{parameter.y1}}</td>                                                                    
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class = "linie_rechts">{{parameter.x5}}</td>
                                    {% if richtig %}
                                        <td>{{richtig}}</td>
                                    {% else%}
                                        <td class = "{{parameter.color2}}">{{form.y5}}</td>
                                    {% endif %} 
                                </tr>
                            </table>
                        {% endif %}
                    {% else %}
                        <div class = "fett">
                            {% if richtig %}
                                Eingabe:
                            {% endif %}
                            {{protokoll.frage}}
                            {{form.eingabe}}
                            {{richtig}}
                            {{protokoll.einheit}}
                        </div>
                    {%endif%}
                    <h2 id="meldung" style="text-align: left";></h2>
                        <table>
                            <tr>
                                {% if richtig %}
                                    <td class = {{duell_protokoll.duellant_1.liga}} style = "height: 35px; width: 280px;font-weight: bold;" >{{duell_protokoll.duellant_1.name}}</td>
                                {% else %}
                                    <td><input type="submit" id="Eins" name = "duellant" class="no-color" value="" ></td>
                                {% endif %}
                                <td>{{aufsteiger_1}}</td>
                                <td class = "{{farbe_1}}">{{duell_protokoll.duellant_1.punkte_spiel}}</td>
                                <td class = "minus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_1.id "minus" %}">-</a></td>
                                <td class = "plus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_1.id "plus" %}">+</a></td>
                            </tr>
                            <tr>
                                {% if richtig %}
                                    <td class = "null">gleich schnell</td>
                                {% else %}
                                    <td><input type="submit" name = "duellant" value="gleich schnell" style = "background-color: #FFDEAD;"></td></tr>                                    
                                {% endif %}
                            <tr>
                                {% if richtig %}
                                    <td class = {{duell_protokoll.duellant_2.liga}} style = "height: 35px; width: 280px;font-weight: bold;" >{{duell_protokoll.duellant_2.name}}</td>
                                {% else %}
                                    
                                    <td><input type="submit" id="Zwei" name = "duellant" class="no-color" value=""  ></td>
                                {% endif %} 
                                <td>{{aufsteiger_2}}</td>
                                <td class = "{{farbe_2}}">{{duell_protokoll.duellant_2.punkte_spiel}}</td>
                                <td class = "minus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_2.id "minus" %}">-</a></td>
                                <td class = "plus"><a href="{% url 'duellant_edit' duell_protokoll.duellant_2.id "plus" %}">+</a></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
                <p></p>
                <table>
                    <tr><td>
                        <button type="button">
                            <a style= "font-weight: bold;" href="{% url 'duell_aufgabe' protokoll.kategorie.slug %}">nächste Aufgabe</a>
                        </button>
                    </td>
                    <td  class="zeitfeld null" id="uhr">0</td>
                    <td>
                        <button type="button">
                            <a href="{% url 'duell_uebersicht' duell_protokoll.gruppe.id %}">Abbrechen</a>
                        </button>
                    </td></tr>
                    <tr><td>
                        <button type="button" >
                            <a href="{% url 'neu_auslosen' "mit" %}">neue Kandidaten mit Punktabzug</a>
                        </button>
                    </td><td>
                        <button type="button">
                            <a href="{% url 'neu_auslosen' "ohne"  %}">neue Kandidaten ohne Punktabzug</a>
                        </button>
                    </td><td>
                        <button type="button">
                            <a href="{% url 'duell_loesung'  %}">Lösung</a>
                        </button>
                    </td></tr>
                </table>
            {% endautoescape %}
        {% endblock %}
    </div>
    
</body>
