<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>       
    <title>Rechentrainer im Web</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'duell_start.css' %}">

</head>

<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Rechenduell {{gruppe}}</a>
        <a href="{% url 'duell_protokoll' gruppe.id %}">Protokoll</a>

        <a href="javascript:history.go(-1)" class="btn btn-default">zurück</a>
    </div> 
</header>
<br>
    <body>
        <div class="container">
                <table>                        
                    <thead>
                        <tr>
                            <th >Duell starten:</th>
                        </tr>
                    </thead>
                <tbody>
                    {% for kategorie in kategorien %}:
                        <tr style="text-align: center;"><td style="text-align: center;"><a class="button" href="{% url 'duell_aufgabe' kategorie.slug %}">{{kategorie.name}}</a></td></tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </body>
</html>