{% extends 'layout.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/protokoll.css' %}">
    <link rel="stylesheet" href="{% static 'duell.css' %}">

{% endblock %}

{% block content %}
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Protokoll Rechenduell {{gruppe.name}} {{gruppe.lehrer.profil.vorname}} {{gruppe.lehrer.profil.nachname}}</a>
        <a href="javascript:history.go(-1)" class="btn btn-default">zurück</a>
    </div> 
</header>
<body>
    {%if lehrer and not loeschen%}
        <button>        
            <a href="javascript:history.go(-1)" class="btn btn-default">zurück</a>
        </button>
    {%endif%}

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Kategorie</th>
                    <th>Aufgnr.</th>
                    <th>Aufgabe</th>
                    <th>Ergebnis</th>
                    <th>r/f</th>
                    <th>Duellant 1</th>
                    <th>Liga</th>
                    <th></th>  
                    <th>Duellant 2</th>
                    <th>Liga</th> 
                    <th></th>                      
                </tr>
            </thead>
            <tbody>
                {% autoescape off %}
                {% for zeile in protokoll %}
                    <tr>
                        <td>{{zeile.duell_protokoll.protokoll.start|date:"d.m. H:i"}}</td>
                        <td>{{zeile.duell_protokoll.protokoll.kategorie.name }} <br>({{zeile.duell_protokoll.protokoll.typ}})</td>
                        <td>{{zeile.duell_protokoll.protokoll.aufgnr}} </td>
                        {% if zeile.duell_protokoll.protokoll.pro_text != ""  %}
                            <td>{{ zeile.duell_protokoll.protokoll.pro_text}}</td>
                        {% else %}
                            <td>{{zeile.duell_protokoll.protokoll.text}}</td>
                        {% endif%}
                        <td>{%if zeile.duell_protokoll.protokoll.wert%}
                                {{zeile.duell_protokoll.protokoll.wert.normalize}}
                            {%else%}
                                {{zeile.duell_protokoll.protokoll.loesung.0}}
                            {%endif%}
                        </td>
                        {% if zeile.duell_protokoll.protokoll.richtig > 0 %}
                            <td class="gruen">{{ zeile.duell_protokoll.protokoll.richtig.normalize}}</td>
                        {% elif zeile.duell_protokoll.protokoll.richtig < 0 %}
                            <td class="rot">{{ zeile.duell_protokoll.protokoll.richtig.normalize}}</td>
                        {% else %}
                            <td>{{ zeile.duell_protokoll.protokoll.richtig.normalize}}</td>
                        {% endif %}
                        <td class = {{zeile.duell_protokoll.duellant_1.liga}}>{{ zeile.duell_protokoll.duellant_1.name}}</td>                
                        <td class = {{zeile.duell_protokoll.duellant_1.liga}}>{{ zeile.duell_protokoll.duellant_1.liga}}</td>
                            {% if zeile.duell_protokoll.duellant_1.aufsteiger %}
                                <td class = {{zeile.duell_protokoll.duellant_1.liga}}>↑</td>
                            {% else %}
                                <td></td> 
                            {% endif %}
                        </td>       
                        <td class = {{zeile.duell_protokoll.duellant_2.liga}}>{{zeile.duell_protokoll.duellant_2.name}}</td>                
                        <td class = {{zeile.duell_protokoll.duellant_2.liga}}>{{zeile.duell_protokoll.duellant_2.liga}}</td>
                        {% if zeile.duell_protokoll.duellant_2.aufsteiger %}
                            <td class = {{zeile.duell_protokoll.duellant_2.liga}}>↑</td>
                        {% else %}
                            <td></td>  
                        {% endif %}            
                    </tr>
                {% empty %}
                    <strong>Leider keine Kategorien vorhanden.</strong> 
                {% endfor %}
                {% endautoescape %}
            </tbody>
        </table>
    </body>
</div>
{% endblock %}

