<!DOCTYPE html>
{% extends 'auswahl.html' %}   
{% load static %}

<html lang="de">
{% block content %}
<body>
    <table>
        {%for duellant in duellanten%}
            <tr>
                <td>{{duellant.name}}</td>
                <td>{{duellant.id}}</td>
                <td><a href="{% url 'temp_loeschen' gruppe_id duellant.id %}">löschen</a></td>
            </tr>
        {%endfor%}
    </table>
    <form action="{% url 'duell_temp' gruppe_id %}" method="POST">
        {% csrf_token %}
        <form>
          <label> Mitglied </label> 
          <input id="neu" name="neu" type="text">
          <input type="submit" value="hinzufügen">
      </form> 
      <a href="{% url 'gruppe_loeschen' gruppe_id %}">Lerngruppe löschen</a>
    
</body>
{% endblock %}
</html>