<span class="popup-close" id="closePopup">&times;</span>
<p>Um Winkel im rechtwinkligen Dreieck zu berechnen nutzt man die Umkehrfunktionen des Sinus, Kosinus und Tangens. Das ist der Arcussinus, Arcuskosinus oder Arcustangens oder auf arcsin, arccos und arctan.</p>
<p>Auf dem Taschenrechner hast du dafür Tasten 'sin⁻¹', 'cos⁻¹', bzw. 'tan⁻¹'. Da das nur umständlich auf der Tastatur eingeben werden kann, kannst du auch 'asin', 'acos', bzw. 'atan' schreiben.</p>
<p>Hiermal am Beispiel von sin⁻¹::</p>
<p>(Du weißt Sinus = Gegenkathete/Hypotenuse oder sin α = a/c)</p> 
<p>Wenn du den Winkel α berechnen willst, musst den Quotienten von a/c berechnen und daraus den sin⁻¹. Also schreibst du einfach asin(a/c) (natürlich musst du anstelle von a und c die entsprechenden Werte eingeben - und die Klammer nicht vergessen.)</p>
<p>Und für Umkehrfunktionen von Kosinus und Tangens gilt das entsprechend.</p> 