<span class="popup-close" id="closePopup">&times;</span>
<p>So teilt man Kommazahlen, bei denen der Dividend (die Zahl rechts) kleiner ist als der Divisor (die Zahl links):</p>
<p>Mit diesem Beispiel kannst du dir das merken:</p>
<p>Wenn man ein Zehn-Centstück (0,1€) in Ein-Centstücke (0,01€) teilt, Wieviele Stücke erhält man?</p>
<p>oder 0,1 : 0,01 = ?</p>
<p>Na, das weißt du:</p>
<p>&#10121; = &#10112; &#10112; &#10112; &#10112; &#10112; &#10112; &#10112; &#10112; &#10112; &#10112;</p>
<p><b>zehn</b> Ein-Centstücke ergeben Ein Zehn-Centstück</p>
<p>Also: 0,1 : 0,01 = 10</p>
<p>Wie rechnet man so eine Aufgabe?</p>
<p>Anstelle von 0,1 : 0,01 = ? rechnet man 0,1 * 100 = ?</p>
<p>Anstelle durch 0,01 zu teilen, kann man mit dem Kehrwert, also 100, malnehmen.</p>
<p>Oder du merkst dir:</p>
<p>Wenn man mit 0,1 <b>malnimmt</b>, verschiebt man das Komma eine Stelle nach <b>links</b></p>
<p>Wenn man durch 0,1 <b>teilt</b>, verschiebt man das Komma eine Stelle nach <b>rechts</b></p>
<p>(Und bei 0,01 sind es zwei Stellen ... und bei 0,001 drei Stellen ...).</p>