<span class="popup-close" id="closePopup">&times;</span>
<p>Zur Berechnung von Kreisen benötigst du die Kreiszahl Pi (&pi;).</p>
<p> Da du diese nicht mit der Tastatur eingeben kannst, schreibe stattdessen 'pi'.</p>
<p>Und anstelle von ² kannst du auch hier natürlich ^2 schreiben, oder du nimmst den Radius mit sich selbst mal ... 
    oder du rechnest das Qudrat im Kopf aus.</p>
<p>Außerdem solltest du Folgendes wissen:</p>
<p>Du kannst die Lösung bei den Kreisaufgaben auf zwei verschiedene Arten eingeben</p>
<p>- gib die Rechnung so ein wie du sie in den Taschenrechner eintippen würdest oder</p>
<p>- rechne die Aufgabe mit dem Taschenrechner aus und gib das Ergebnis ein.</p>
<p>  Dabei musst du aber unbedingt beachten, dass du</p>
<p>  1. die Einheit mit eingibst und </p> 
<p>  2. das Ergebnis auf eine Stelle rundest!</p> 