<span class="popup-close" id="closePopup">&times;</span>
<p>Für trigonometrische Berechnungen benötigst du natürlich den Sinus, Kosinus oder Tangens.</p>
<p>Auf dem Taschenrechner hast du dafür Tasten, hier musst du auf der Tastaur 'sin', 'cos', bzw. 'tan' eingeben.</p>
<p>Hiermal am Beispiel des Sinus:</p>
<p>(Du weißt Sinus = Gegenkathete/Hypotenuse oder sinα = a/c)</p> 
<p>Wenn du also a berechnen willst, musst du c*sin α eintippen (natürlich musst du anstelle von c und α die entsprechenden Werte eingeben.) (Das Malzeichen kannst du auch weglassen.)</p>
<p> Und wenn du c berechnen willst, musst du entsprechend a/sin α eintippen.</p>
<p>Das mit dem Kosinus und dem Tangens gilt entsprechend.</p> 