<footer class="footer">
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">
        Kontakt & Impressum
      </button>
      <div class="dropdown-content footer">
        <p>Den Physiktrainer habe ich (fast) ganz alleine programmiert
          <br>und auch für diese Seite bin ich zuständig:
          <br><b>Peter Doll</b>
          <br>64572 Büttelborn
          <br>Gartenstr. 61
          <br>Tel.: 06152 9774291
          <br>info&#64physiktrainer.app
        </p>
      </div>
    </div>
    <a href="{% url 'index' %}">Zum Rechentrainer</a>
    <a href="{% url 'physik:datenschutz' %}">Datenschutz</a>
  </div>
</footer>