<footer>
  <div class="navbar">
<!--
      <div class="dropdown">
          <button class="dropbtn"> 
              Der andere Rechentrainer
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#anderer">Was ist das?</a>
            <a href="https://medien.bildung.hessen.de/rechentrainer/index.html">zum Bildungsserver</a>
            <a href="#">Download</a>
          </div>
      </div> 
-->
      <div class="dropdown">
          <button class="dropbtn"> 
              Kontakt und Impressum
          </button>
          <div class="dropdown-content">
              <p>Den Rechentrainer habe ich (fast) ganz alleine programmiert
              <br>und auch für diese Seite bin ich zuständig:
              <br><b>Peter Doll</b>
              <br>64572 Büttelborn
              <br>Gartenstr. 61
              <br>Tel.: 06152 9774291
              <br>info&#64rechentrainer.app</p>
          </div>
      </div> 
      <a href="{% url 'datenschutz' %}">Datenschutz</a>
      <a href="{% url 'stimmen' %}">Bewertungen</a>
  </div>
</footer>