{% load static %}
<header>
    <div class="navbar">
            <a href="{% url 'index' %}">&#8962 Home</a>
            <a href="{% url 'uebersicht' %}">Aufgaben</a>
            <a href="{% url 'protokoll' %}">Protokoll</a>

            {% if lehrer %}
                <a href="{% url 'meine_gruppen' %}">meine Lerngruppen</a>
            {% else %}
                {% if tests %}
                    <div class="dropdown">
                        <span>Hier sind deine Tests</span>
                        <div class="dropdown-content">
                                {% for t in tests %}
                                    <p><a href="{% url 'test_anzeigen' t.id profil.id %}">{{ t.name }} {% if t.aktiv %} (aktiv){% endif %}</a></p>
                                {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        <div class="dropdown">
            <button class="dropbtn"> 
                {% if user.is_authenticated %}
                    Hallo {{ user.username }}
                {% else %}
                    <a href="{% url 'anmelden' %}">Anmelden</a>
                {% endif %}
                {% comment %} <i class="fa fa-caret-down"></i> {% endcomment %}
            </button>
            {% if user.is_authenticated %}
                <div class="dropdown-content">
                    <a href="{% url 'password_reset' %}">Passwort zurücksetzen</a>
                    <a href="{% url 'profil' %}">mein Profil</a>
                    {% comment %} <a href="{% url 'logout' %}">Abmelden</a>  {% endcomment %}
                    <form method="post" action="{% url 'logout' %}" style="margin:0;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-link">Abmelden</button>
                    </form>

                </div>
            {% endif %}
        </div>  
    </div> 
</header>

