{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/duell.css' %}">
{% endblock %}

<div class = duell>
    <p>Wer war schneller:</p>
    <table>
        <tr>
            <td class = A  colspan = 2 href="{% url 'loesung' zaehler_id protokoll_id %}">Kandidat 1</td>
            <td>Punkte</td>
            <td><a href="{% url 'hilfe' zaehler_id protokoll_id %}">-</td>
            <td><a href="{% url 'hilfe' zaehler_id protokoll_id %}">+</td>
        </tr>
        <tr>
            <td width= "50px" ></td>
            <td style = "background-color: #FFDEAD;" width= "150px" ><a href="{% url 'hilfe' zaehler_id protokoll_id %}">beide</a></td></tr>
        <tr>
            <td class = B colspan = 2 href="{% url 'loesung' zaehler_id protokoll_id %}">Kandidat 2</td>
            <td>Punkte</td>
            <td><a href="{% url 'hilfe' zaehler_id protokoll_id %}">-</td>
            <td><a href="{% url 'hilfe' zaehler_id protokoll_id %}">+</td>
        </tr>
        <tr>
            <td style = "background-color: #FFB5C5;" >Zeit</td>
        <tr>
        
    </table>
    <p></p>
    <nav>
        <button type="button">
            <a style= "font-weight: bold;" href="{% url 'loesung' zaehler_id protokoll_id % }">nächste Aufgabe</a>
        </button>
        <button type="button" >
            <a href="{% url 'hilfe' zaehler_id protokoll_id %}">neue Kandidaten mit Punktabzug</a>
        </button>
        <button type="button">
            <a href="{% url 'abbrechen' zaehler_id %}">neue Kandidaten ohne Punktabzug</a>
        </button>
    </nav>
</div>
