{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/uebersicht.css' %}">
{% endblock %}

{% block content %}

{% include 'includes/header.html' %} 

{%if lehrer and not loeschen%}
    <button>        
        <a href="javascript:history.go(-1)" class="btn btn-default">zurück</a>
    </button>
{%endif%}

<h2>{{schueler.vorname}} {{schueler.nachname}}
{% if not loeschen or not lehrer %}
    {{schueler.klasse}}</h2>
{%else%}
    </h2><h5 style="text-align: center;">Angemeldet mit: Jg {{schueler.jg}}, Stufe {{schueler.stufe}}
    (Jg. und Stufe können im Profil geändert werden)</h5>
{% endif %}

<ul class={{breite}}>
    {% if schueler.gruppe or lehrer %}
        <form action="/uebersicht/{{schueler.id}}/" method="POST">
            {% csrf_token %}
            <h2 style= "text-align: left;"> Zeitraum: 
                <button type="button">
                    {{form.auswahl}}        
                </button>
                <button type="button">
                    <input name="filter" type="submit" value="anwenden">
                </button>
            </h2>
        </form>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th width=100>Kategorie</th>
                <th width=60>richtig</th>
                {% if details == True %}
                    <th width=30>falsch</th>
                    <th> %</th>
                    <th>Zeit</th>
                    <th>sec/ Aufg.</th>
                    <th>Aufg. ohne Fehler</th>
                    <th>Abbr.</th>
                    <th>Lsg.</th>
                    <th>Hilfe</th>
                {% else %} 
                    <th width=40>nicht richtig</th>
                    <th width=50> %</th>
                {% endif %}
                {% if note_anzeigen %}
                    <th width=60>erledigt</th>
                {% endif %}
                <th width=100>letzte Bearbeitung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">Summe</td>
                <td class="{{summe_farbe}}">{{richtig}}</td>
                <td>{{falsch}}</td>
                <td class="{{qfarbe}}">{{quote}}%</td>
                <td>{{dauer}}</td>
                <td>{{pro_aufg}}</td>
                <td></td>
                <td>{{abbr}}</td>
                <td>{{lsg}}</td>
                <td>{{hilfe}}</td>
                {% if note_anzeigen == True %}
                    <td class="{{prozent_summe_farbe}}">{{prozent_summe}}%</td>
                {% endif %}
                <td>{{letzte}}</td>
            </tr>
            {% for kategorie, aktiv, zeile in zeilen %}            
                <tr>
                    {% if lehrer and not loeschen or not aktiv %}
                        <td style="text-align: center;">{{kategorie.name}}</td>
                    {% else %}
                        <td style="text-align: center;"><a class="button" href="{% url 'main' kategorie.slug %}">{{kategorie.name}}</td>
                    {% endif %}
                    {% for style, item in zeile %}
                        <td class = "{{style}}">{{item}}</td>
                        {% endfor %}
                </tr>
            {% endfor %}
            <tr>
            {% comment %} {% if not lehrer %} {% endcomment %}
                {% if not alle_kat %}
                    <td  colspan="3", align="left">
                        <form action="{% url 'uebersicht' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="alle Kategorien"><b>alle Kategorien anzeigen</b></button>
                        </form>
                    </td>
                {% endif %}
            {% comment %} {% endif %} {% endcomment %}
            </tr>          
        </tbody>
    </table>
    {% if soll_hj <= 0 %}
        <p>Du arbeitest schon an den Aufgaben für das nächste Halbjahr.<br> Du solltest {{pro_woche}} Aufgaben pro Woche rechnen - und von jeder Aufgabenkategorie mindesten {{soll_kat}} Aufgaben.</p>
    {% else %}
        <p>Du solltest in diesem Halbjahr mindestens {{soll_hj}} Aufgaben gerechnet haben ({{pro_woche}} pro Woche) - und von jeder Aufgabenkategorie mindesten {{soll_kat}} Aufgaben.</p>
    {% endif %}
    <p>
    {% if details %}
        Wenn du mit einem Smartphone arbeitest, kannst du hier "Details anzeigen" anklicken, dann wird diese Anzeige schmaler und passt auf das Display.

    {% else %}
        Wenn du unter "mein Profil" "Details anzeigen" anklickst, bekommst du mehr Informationen.
    {% endif %}
    <form action="{% url 'uebersicht' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="Details ausblenden"><b>Details ausblenden</b></button>
    </form>
    </p>

</ul>

{% endblock %}