<form action="{% url 'main' kategorie.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
    <table>
        <tr>
            <th class = "linie_rechts">{{parameter.titel_x}}</th>
            <th>{{parameter.titel_y}}</th>
        </tr>
            {% if 'term' in parameter.name or 'funktion' in parameter.name%}  
                <tr>
                    <td class = "linie_rechts">{{parameter.x0}}</td>
                    <td class = "{{parameter.color0}}">{{form.y0}}</td>                                                                    
                </tr>
                <tr>
                    <td class = "linie_rechts">{{parameter.x1}}</td>
                    <td class = "{{parameter.color1}}">{{form.y1}}</td>                                                                    
                </tr> 
            {% else %}
                <tr>
                    <td class = "linie_rechts">{{parameter.x0}}</td>
                    <td>{{parameter.y0}}</td>                                                                       
                </tr>
                <tr>
                    <td class = "linie_rechts">{{parameter.x1}}</td>
                    <td>{{parameter.y1}}</td>                                                                    
                </tr>
            {% endif %}
            <tr>
                <td class = "linie_rechts">{{parameter.x2}}</td>
                <td class = "{{parameter.color2}}">{{form.y2}}</td>                                                                    
            </tr>
            <tr>
                <td class = "linie_rechts">{{parameter.x3}}</td>
                <td class = "{{parameter.color3}}">{{form.y3}}</td>                                                                    
            </tr> 
            <tr>
                <td class = "linie_rechts">{{parameter.x4}}</td>
                <td class = "{{parameter.color4}}">{{form.y4}}</td>                                                                    
            </tr> 
            {% comment %} <tr>
                <td><input type="submit" value="Prüfen"></td>
            </tr> {% endcomment %}
    </table>
</form>