<table>
    <tr>
        <th class = "linie_rechts">{{parameter.titel_x}}</th>
        <th>{{parameter.titel_y}}</th>
    </tr>
    <tr>
        <td class = "linie_rechts">{{parameter.x0}}</td>
        <td>{{parameter.y0}}</td>                                                                       
    </tr>
    <tr>
        <td class = "linie_rechts">{{parameter.x1}}</td>
        <td>{{parameter.y1}}</td>                                                                    
    </tr>
    <tr>
        <td class = "linie_rechts">{{parameter.x2}}</td>
        <td>{{parameter.y2}}</td>                                                                    
    </tr>
    <tr>
        <td class = "linie_rechts">{{parameter.x3}}</td>
        <td>{{parameter.y3}}</td>                                                                    
    </tr> 
    <tr>
        <td class = "linie_rechts">{{parameter.x4}}</td>
        <td>{{parameter.y4}}</td>                                                                    
    </tr>
</table>
