.A{
    background-color: #B0E2FF;
  }
  
.B {
    background-color: #9AFF9A;
  }
  
.C {
    background-color: #FFFACD;
  }
  
.D {
    background-color: #FFDEAD;
  }
  
.E {
    background-color: #FFB5C5;
  }

.duell {
  width: 385px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  padding: 5px;
  margin: 5px;    
}
button {
  width: 120px;
  height: 40; 
  color:inherit;
  text-decoration: none; 
 }

 a:link {
  color: black;
 }
 a:visited {
  color: black;
 }
 a:hover {
  color: #336666;
 }
 a:active {
  color: #339999;
 }

input[type=button], input[type=submit] {
	height: 35px;
	width: 250px;  
}

td {
  padding: 0px;
}