h2{
  text-align: center; 
}

form{
  margin: 2rem auto;
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #eeeeee;
  gap: 10px;

  input {
    width: 20%;
  }

  label {
    font-weight: larger;
    font-weight: bold;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  

  
