{% extends 'auswahl.html' %}
{% load name_utils %}
{% load static %}

{% block css_files %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: auto;
            max-width: 800px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            border-radius: 12px;
            padding: 0.5rem;
          }
        .container {
            margin: auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            border-radius: 12px;
            padding: 5px;
          }
          

        td {
            text-align: left;
            }
    </style>

{% endblock %}

{% block content %}
<div class="container">
    <h2>Die fleißigsten Schülerinnen und Schüler in diesem Halbjahr:</h2>
    <table>
        <thead>
            <th>Aufgaben</th><th>Schüler/in</th><th>Lerngruppe / Schule</th>
        </thead>
        <tbody>
            {% for item in hjliste %}
                <tr>
                    <td style="text-align: center;">{{ item.hjsumme }}</td>
                    <td>{{ item.initialen }}</td>
                    <td>{{ item.gruppe }}, {{ item.schule }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Die ewige Bestenliste:</h2>
    <table>
        <thead>
            <th>Aufgaben</th><th>Schüler/in</th><th>Lerngruppe / Schule</th>
        </thead>
        <tbody>
            {% for item in ewigeliste %}
                <tr>
                    <td style="text-align: center;">{{ item.punkte }}</td>
                    <td>{{ item.name|name_kuerzen:1 }}</td> <!-- Dein Command speichert hier bereits Initialen -->
                    <td>{{ item.lehrer }}, {{ item.schule }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Die fleißigsten Gruppen (Halbjahr):</h2>
    <table>
        <thead>
            <th>Aufgaben</th><th>pro Mitglied</th><th>Gruppe</th><th>Schule</th>
        </thead>
        <tbody>
            {% for item in hjgruppen %}
                <tr>
                    <td style="text-align: center;">{{ item.hjsumme }}</td>
                    <td>/{{ item.mitglieder }}={{ item.hjschnitt }}</td>
                    <td>{{ item.gruppe.name }}</td>
                    <td>{{ item.gruppe.lehrer.profil.schule.schulname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2><a href="{% url 'statistik' %}">Hier könnt ihr sehen, welche Aufgaben am häufigsten gerechnet wurden</a></h2>          

</div>
{% endblock %}
