{% extends 'auswahl.html' %}
{% load static %}

{% block css_files %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: auto;
            max-width: 600px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            border-radius: 12px;
            padding: 0.5rem;
          }
        .container {
            margin: auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            border-radius: 12px;
            padding: 5px;
          }
          
        html {
              font-size: small;
          }
        .navbar a{
              font-size: small;
          } 
        td {
            text-align: left;
            }
    </style>

{% endblock %}

{% block content %}
    <body>
        <div class="container" >
            <h2>Die fleißigsten Schülerinnen und Schüler in diesem Halbjahr:</h2>
            <table>
                <thead>
                    <th>Aufgaben</th>
                    <th >Schüler/in</th>
                    <th>Lerngruppe</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in hjliste %}
                        <tr>
                            <td  style= "text-align: center;">{{item.hjsumme}}</td>
                            <td > {{item.profil.vorname}} {{item.profil.nachname}}</td>
                            <td > {{item.profil.gruppe.name}}, {{item.gruppe.lehrer.profil.vorname}} {{item.gruppe.lehrer.profil.nachname}}, {{item.profil.gruppe.lehrer.profil.schule.schulname}}, {{item.profil.gruppe.lehrer.profil.schule.ort.name}}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% comment %} <h2>Die fleißigsten Schülerinnen und Schüler in diesem Schuljahr:</h2>
            <table>
                <thead>
                    <th>Aufgaben</th>
                    <th >Schüler/in</th>
                    <th>Lerngruppe</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in hjliste %}
                        <tr>
                            <td  style= "text-align: center;">{{item.sjsumme}}</td>
                            <td > {{item.profil.vorname}} {{item.profil.nachname}}</td>
                            <td > {{item.profil.gruppe.name}}, {{item.gruppe.lehrer.profil.vorname}} {{item.gruppe.lehrer.profil.nachname}}, {{item.profil.gruppe.lehrer.profil.schule.schulname}}, {{item.profil.gruppe.lehrer.profil.schule.ort.name}}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table> {% endcomment %}
            <h2>Die ewige Bestenliste:</h2>
            <table>
                <thead>
                    <th>Aufgaben</th>
                    <th >Schüler/in</th>
                    <th>Lerngruppe</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in gesamtliste %}
                        <tr>
                            <td  style= "text-align: center;">{{item.summe}}</td>
                            <td > {{item.profil.vorname}} {{item.profil.nachname}}</td>
                            <td > {{item.profil.gruppe.name}}, {{item.gruppe.lehrer.profil.vorname}} {{item.gruppe.lehrer.profil.nachname}}, {{item.profil.gruppe.lehrer.profil.schule.schulname}}, {{item.profil.gruppe.lehrer.profil.schule.ort.name}}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <h2>Das sind die fleißigsten Gruppen in diesem Halbjahr:</h2>
            <table>
                <thead>
                    <th>Aufgaben</th>
                    <th >Gruppe</th>
                    <th>Schule</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in hjgruppen %}
                        <tr>
                            <td  style= "text-align: center;">{{item.hjsumme}}</td>
                            <td > {{item.gruppe.name}}, {{item.gruppe.lehrer.profil.vorname}} {{item.gruppe.lehrer.profil.nachname}}</td>
                            <td> {{item.gruppe.lehrer.profil.schule.schulname}}, {{item.gruppe.lehrer.profil.schule.ort.name}}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <h2>Das sind die fleißigsten Gruppen überhaupt:</h2>
            <table>
                <thead>
                    <th>Aufgaben</th>
                    <th >Gruppe</th>
                    <th>Schule</th>
                </thead>
                <tbody>
                    <tr>
                    {% for item in gruppen %}
                        <tr>
                            <td  style= "text-align: center;">{{item.summe}}</td>
                            <td > {{item.gruppe.name}}, {{item.gruppe.lehrer.profil.vorname}} {{item.gruppe.lehrer.profil.nachname}}</td>
                            <td> {{item.gruppe.lehrer.profil.schule.schulname}}, {{item.gruppe.lehrer.profil.schule.ort.name}}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>  
            <h2><a href="{% url 'statistik' %}">Hier könnt ihr sehen, welche Aufgaben am häufigsten gerechnet wurden</a></h2>          
        </div>
    </body>
{% endblock %}

