        <p><b>Wenn du noch jünger als 16 bist, musst du diesen Text deinen Eltern zeigen und diese müssen ihm zustimmen.</b></p>
        <p>Mit der physiktrainer.app kannst du deine Kenntnisse in Physik testen und erweitern.</p>
        <p>Diese App funktioniert mit Lernkärtchen. Ich nehme an du weißt wie das geht: Du bekommst eine Frage aus einem Fach und wenn du sie richtig beantwortest, wandert sie ins nächste Fach. 
            Bis du die Frage nach einiger Zeit dreimal richtig beantwortet hast.</p>
        <p>Du legst selbst fest, welche Schwierigkeitsstufe du bearbeiten willst.</p>
        <p>Gespeichert wird nur, welche Fragen du schon richtig beantwortet hast.</p>
        <p>Wenn dein Physiklehrer/dein Physiklehrerin eine Lerngruppe angelegt hat, kannst du dich auch dort anmelden. 
            Dein Lehrer/deine Lehrerin kann dann auch deine Arbeit bei der physiktrainer.app einsehen.</p>
        <p><b>Der Physiktrainer funktioniert nur, wenn du dich beim Physiktrainer registrierst und Cookies zulässt.</b>
        <p>Dazu musst du mit einem beliebigen Nutzernamen einen Account anlegen und ein Passwort festlegen.</p> 
        <p>Dieses wird verschlüsselt gespeichert, <b>das Passwort kann niemand auslesen</b>, auch der Administrator des Physiktrainers nicht.
            Daher ist es sinnvoll, dass du eine E-Mailadresse angibst. Wenn du dein Passwort vergisst, kann dir per E-Mail eine Anleitung geschickt werden, mit der du ein neues Passwort erstellen kannst.</p>
        <p>Wenn du die Fragen bearbeitest, muss der Physiktrainer wissen, zu welcher Frage deine Eingabe gehört. 
            Daher schickt der Physiktrainer bei deiner Anmeldung jeweils ein Cookie an dein Gerät (Smartphone, Tablett oder Computer).
            Dieses ist ein zufällige Buchstaben- und Zahlenfolge, diese wird auf deinem Gerät gespeichert und wenn du auf eine Frage antwortest oder dich neu einloggst, erkennt der Physiktrainer, dass du das bist. </p>
        <p><b>Weitere Cookies gibt es nicht, der Physiktrainer gibt deine Daten nicht weiter und es gibt auch keine Werbung.</b></p>
        </p>
        <p><a href="{% url 'account_loeschen' %}">Hier kannst du deinen Account und alle Daten löschen.</a></p>       
        <p><b>ERGÄNZUNG: Der Rechentrainer.app</B></P> 
        <p>Diese App benutzt die gleichen Zugangsdaten wie die physiktrainertrainer.app.</p>
        <p>Die Aufgaben des Rechentrainers sind immer auf deinen Jahrgang und deine Schulart angepasst. In der 5. und 6. Klasse musst du z.B. 
            nicht mit Kommazahlen rechnen, ab der 7. Klasse kommen überall Aufgaben mit Kommazahlen vor.
            Als Schülerinnen oder Schüler einer Hauptschule, eines G-Kurses oder C-Kurses sind die Aufgaben oft einfacher und die Hilfen ausführlicher. Als Förderschüler kannst du den Schwierigkeitsgrad immer aussuchen. 
            <b>Daher musst du deinen Jahrgang und die Schulform angeben</b>.</p>
        <p>Wenn du den Rechentrainer für die Schule nutzt, kann deine Lehrerin/dein Lehrer eine Lerngruppe anlegen, du kannst dich dort anmelden und <b>
            dann kann deine Lehrerin/dein Lehrer deine Arbeit kontrollieren</b>.<br>
            <b>Dazu musst du deinen Namen und deine Klasse angeben.</b>
        <p>Deine Lehrerin/dein Lehrer kann festlegen, wie viele Aufgaben du in jeder Woche erledigen sollst. 
            Der Rechentrainer zeigt dann an, wie viele Aufgaben du bearbeitet hast 
            (das gibt der Rechentrainer als Prozentzahl an) und wie viele Fehler du gemacht hast (das wird prozentual angerechnet). 
            Wenn du genügend Aufgaben gemacht hast, färben sich die jeweiligen Felder grün.</p>
            Wenn du nicht willst, dass dein Lehrer/deine Lehrerin deine Arbeit kontrollieren kann, kannst du in <a href="{% url 'profil' %}">deinem Profil</a>, die Lerngruppe abwählen.
            Du könntest aber auch einen Fantasienamen eingeben, dann kannst du aber nicht beweisen, dass du die Aufgaben gerechnet hast. 
            Vielleicht willst du ja auch deinen Eltern zeigen, dass du fleißig für Mathematik geübt hast. 
            <b>Den Namen, denn du eingibst kannst du anschließend nicht mehr ändern</b> (Deine Lehrerin/dein Lehrer kann es, wenn du bei einer Lerngruppe angemeldet bist.).



