        <p><b>ERGÄNZUNG: Die Physiktrainer.app</B></P> 
        <p>Mit der physiktrainer.app kannst du auch deine Kenntnisse in Physik testen und erweitern.</p>
        <p>Diese App benutzt die gleichen Zugangsdaten wie die rechentrainer.app.</p>
        <p>Diese App funktioniert mit Lernkärtchen. Ich nehme an du weißt wie das geht: Du bekommst eine Frage aus einem Fach und wenn du sie richtig beantwortest, wandert sie ins nächste Fach. 
            Bis du die Frage nach einiger Zeit dreimal richtig beantwortet hast.</p>
        <p>Du legst selbst fest, welche Schwierigkeitsstufe du bearbeiten willst.</p>
        <p>Gespeichert wird nur, welche Fragen du schon richtig beantwortet hast.</p>
        <p>Wenn dein Physiklehrer/dein Physiklehrerin eine Lerngruppe angelegt hat, kannst du dich auch dort anmelden. 
            Dein Lehrer/deine Lehrerin kann dann auch deine Arbeit bei der physiktrainer.app einsehen.</p>

