{% extends 'auswahl.html' %}
{% block content %}
  <h2>Ein neues {{ halbjahr }} hat begonnen</h2>
  <p>Deine Aufgaben zählen immer nur für ein Schulhalbjahr. In der Übersicht werden standardmäßig die Aufgaben aus dem aktuellen {{ halbjahr|lower }} angezeigt. Du kannst dir aber jederzeit auch alle Aufgaben anzeigen lassen.</p>
  {% if halbjahr == "Schuljahr" %}
    <p>Ich habe angenommen, dass du versetzt wurdest und habe folgendes gesetzt:</p>
    <ul>
      <li><b>Neuer Jahrgang:</b> {{ jahrgang }}</li>
      <li><b>Klassenvorschlag:</b> {{ klasse }}</li>
    </ul>
    <p>Falls die Klassenbezeichnung so nicht stimmt, kannst du sie unter <b>Profil</b> selbst ändern.<br>
       Den <b>Jahrgang</b> kann nur deine Lehrkraft ändern.</p>
  {% else %}
    <p>Es ist ein <b>Halbjahreswechsel</b>. Jahrgang und Klassenbezeichnung bleiben unverändert.</p>
  {% endif %}
  <p><a href="{% url 'index' %}">weiter</a></p>
{% endblock %}
