{% extends 'auswahl.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/auswahl.css' %}">
    <style>
        .balken{
            background-color: yellow;
            width: var(--p);
        }
    </style>
{% endblock %}



{% block content %}
    <body>
        <div class="container" >
            <table>
                {% comment %} <thead>
                    <tr>
                        {% for item in kategorien %}
                            <th>
                                <div class="rotated-th"; style = "{{item.kategorie.farbe}}">
                                    <span class="rotated-th__label">
                                        {{item.kategorie.name}}
                                    </span>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for item in kategorien %}
                            <th>
                                <div class="rotated-th">
                                    <span class="rotated-th__label">
                                        {{item.anzahl}}
                                    </span>
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                </thead> {% endcomment %}
                <thead>
                    <th>Kategorie</th>
                    <th>Aufgaben</th>
                </thead>
                <tbody>
                    <tr>

                    {% for kategorie, anzahl, breite in kategorien %}
                        <tr>
                            <td style="{{kategorie.farbe}}; text-align: left; width: 180px" >{{kategorie.name}}</td>
                            {% comment %} <td style="text-align: right;">{{anzahl}}</td> {% endcomment %}
                            <td>
                                <div class="balken" style="{{breite}}">{{anzahl}}</div>                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
{% endblock %}

