{% extends 'auswahl.html' %}  
{% block content %}

    <body>
        <style>    
            li {style="margin-bottom:60px";}
            body {max-width: 600px;}
        </style>

        <ul>
            <li><b>Von Lehrern:</b></li>

            <li>Tarek B.: "In der Oberstufe ist mir aufgefallen, dass Schüler besonders große Probleme mit dem Vorwissen haben. Die besonders guten Schüler gelingt es meist besser ihr Vorwissen zu verwenden und dies zu vernetzen.
                Bei den anderen muss das Vorwissen erst so verstanden sein, dass diese sich erst mit der eigentlichen Problematik in der Oberstufe widmen können. 
                Da die Mathematik systematisch auf vorherigen Themen aufbaut, finde ich den Rechentrainer sehr geeignet die Lücken zu schließen.<br>
                Weiter kann ich sagen, dass den Schülern die Arbeit mit der App viel Spaß macht."</li>        
            <li>Albrecht H.: „Vielen Dank für das großartige Programm.“</li>        
            <li>Kai S.: „Mir gefällt der Rechentrainer sehr gut. Sehr viele meiner Schüler*innen haben extreme Lücken in dem Vorwissen, deswegen ist das Programm für mich sehr interessant.<br>
                Einige Schüler*innen benötigen eine gesonderte Förderung, ich kann mit dem Rechentrainer dann als Lehrer überprüfen, ob sie tatsächlich die Aufgaben bearbeitet haben.“</li>
            <li>Christian R.: „In meinem Mathekurs ist das ein richtiger Wettbewerb, wer die meisten Aufgaben zusammen hat und wir kommen dann am Ende des Jahres in einem Kurs auf etwa 150 000 gerechnete Aufgaben.
                Das bleibt natürlich nicht folgenlos sondern da sehe ich jetzt genau die Grundlagen die die Schülerinnen und Schüler in Zukunft brauchen.“</li> 
            <li>Jürgen C.: „Eine tolle Sache dieser Rechentrainer.
                Zurzeit gebe ich einem Schüler der 7. Klasse Nachhilfe und da unterstützt mich der Rechentrainer enorm, da wir hier sehr gut die Grundlagen üben können ohne dem Lehrer durch Nutzung des Schulbuchs ins Handwerk zu pfuschen.<br>
                Ich habe übrigens das schriftliche Rechnen mal ausprobiert*. Genial!! Das kann ich gut gebrauchen!“</li> 
            <li>Alexander K.: „Die Schüler, die sich auf das Programm einlassen, macht es sehr viel Spaß.<br>
                Einfach sensationell, die neuen Funktionen (Anm. Die schriftlichen Rechenverfahren+) und unglaublich, welche Mühen du investierst – VIELEN DANK FÜR DIESE TOLLE ARBEIT!!!!<br>
                Vielen herzlichen Dank - auch im Namen meiner Schüler, ihren Eltern und meiner Mathekollegen!<br>
                Deine Software ist ein echter Glücksgriff.“ </li>
            <li>Tim R.: „Ein Schüler hatte Probleme beim Runden. Nach 10 Aufgaben hatte er es aber schon verstanden. Im Unterricht hätten wir das wahrscheinlich nicht bemerkt und aufgearbeitet.<br>
                Dass nicht-aktuelle Inhalte wach gehalten werden oder eben nach der Klassenarbeit weiter geübt werden, ist für mich der Zweck des Rechentrainers und das scheint bisher gut zu funktionieren.<br>
                Vorher habe ich mit Kopfübungen gearbeitet, Sie waren aber ein großer Aufwand für mich und man konnte nicht einfach mehr machen, wenn es Probleme gab. Die meisten SchülerInnen machen übrigens freiwillig mehr als 100 Aufgaben pro Woche.<br>
                Der Hinweis des Rechentrainers, dass man in diesem Bereich bereits sehr gut ist und deshalb jetzt andere Bereiche bearbeiten muss, ist Gold wert. 
                Zum einen freuen sich die Kinder, dass das Programm sagt, dass sie gut sind, zum anderen sorgt es dafür, dass sie auch die anderen Bereiche bearbeiten.<br>
                Auch von den Eltern habe ich Feedback bekommen. Sie freuen sich über die Farbskala. Ich musste nur nochmal klarstellen, dass der Rechentrainer Grundlagen überprüft.“</li>
            <li>Claudius K.: „Hier an der Luisenschule in Kassel war Ihr Rechentrainer in all den Wochen sehr hilfreich, wenn auch besonders für die Kinder, bei denen die Eltern sich mit darum kümmern, dass solche Chancen auch genutzt werden, so ist es wohl überall im Land.<br>
                Ein tolles Programm, mit dem ich in meiner Realschul-9 gerade Lineare Funktionen üben lasse.<br>
                Gerade Arbeitsblätter mit Koordinatensystemen sind ja eine ziemliche Rohstoffverschwendung, wenn es solche Alternativen gibt.<br>
                Mit den neuen Aufgaben (Anm. Die schriftlichen Rechenverfahren*) will ich mich im Rahmen eines Rechenschwäche-Kurses auseinandersetzen.
                Stefan S.G.: Ich bin sehr begeistert vom Rechenduell. Die Schüler bleiben sogar extra länger um eine Runde fertig zu spielen.</li>    

            <li><b>Von Schülerinnen und Schülern:</b></li>

            <li>Leonie: Ich finde den Rechentrainer gut, weil man damit sein Mathe üben kann.
                Denn wie meine Mutter immer sagt: „Übung macht den Meister“.
                Ich finde auch, dass es mit dem Rechentrainer mehr Spaß macht zu rechnen, anstatt Aufgaben im Buch zu machen.</li>
            <li>Elli: Für mich ist der Rechentrainer eine produktive Art die Zeit zu vertreiben.
                Ich finde ihn gut, weil man eigenständig üben kann und vor allem Sachen wiederholen kann, damit man sie nicht vergisst. </li>
            <li>Micky: „Ich war lange krank und habe viel verpasst und ich bin froh, dass wir den Rechentrainer haben, da kann ich alles nachholen.“</li>
            <li>Maren: „Durch den Rechentrainer bin ich in Prozentrechnung richtig gut geworden. Und es macht auch Spaß mit der Zeit.“</li>
            <li>Florian: „Ich habe mit dem Rechentrainer Terme und Gleichungen gelernt und das kann ich jetzt auch besser.“</li>
            <li>Nadine: „Ich finde den Rechentrainer sehr praktisch, weil, meine Mathenoten gingen mal ziemlich in den Keller. 
                Da habe ich täglich mit ihm geübt und da bin ich von einer 4 auf eine 2 in Mathe gekommen.“</li>
            <li>Zeynep: Ich finde den Rechentrainer sehr gut, da ich darin gut arbeiten und lernen kann wenn man noch Schwierigkeiten hat oder wenn man etwas noch nicht versteht. 
                Zum Lernen für eine Arbeit oder einen Test ist es auch eine sehr hilfreiche App.</li>

            <li><b>Eine Mutter:</b></li>  
            
            <li>„Ich habe zwei Kinder an dieser Schule und beide arbeiten gerne mit dem Rechentrainer. 
                Und für mich ist es auch eine große Unterstützung zuhause weil ich mir nicht immer neue Aufgaben ausdenken muss,
                damit die ganzen Rechenabläufe nochmal wieder wiederholt werden. Ansonsten ist das ja bei den Kinder oft so 'Thema abgehakt und weg ist es' 
                und so ist es schön, dass sie in regelmäßigen Abständen wiederholen können und damit auch ihre Mathenote verbessern können.“</li>
        </ul>
        <p><i>(*Die Übungsaufgaben zu den schriftlichen Rechenverfahren gibt es (bisher) nur im "alten" Rechentrainer.)</i>
        </p>
    </body>
{%endblock%}

