        <p><b>Wenn du noch jünger als 16 bist, musst du diesen Text deinen Eltern zeigen und diese müssen ihm zustimmen.</b></p>
        <p><b>Der Physiktrainer funktioniert nur, wenn du dich beim Physiktrainer registrierst und Cookies zulässt.</b>
        <p>Dazu musst du mit einem beliebigen Nutzernamen einen Account anlegen und ein Passwort festlegen.</p> 
        <p>Dieses wird verschlüsselt gespeichert, <b>das Passwort kann niemand auslesen</b>, auch der Administrator des Physiktrainers nicht.
            Daher ist es sinnvoll, dass du eine E-Mailadresse angibst. Wenn du dein Passwort vergisst, kann dir per E-Mail eine Anleitung geschickt werden, mit der du ein neues Passwort erstellen kannst.</p>
        <p>Wenn du Fragen bearbeitest, muss der Physiktrainer wissen, zu welcher Aufgabe deine Eingabe gehört. 
            Daher schickt der Physiktrainer bei deiner Anmeldung jeweils ein Cookie an dein Gerät (Smartphone, Tablett oder Computer).
            Dieses ist ein zufällige Buchstaben- und Zahlenfolge, diese wird auf deinem Gerät gespeichert und wenn du auf eine Frage antwortest oder dich neu einloggst, erkennt der Physiktrainer, dass du das bist. </p>
        <p><b>Weitere Cookies gibt es nicht, der Physiktrainer gibt deine Daten nicht weiter und es gibt auch keine Werbung.</b></p>
        <p><a href="{% url 'account_loeschen' %}">Hier kannst du deinen Account und alle Daten löschen.</a></p>       
        <p><b>ERGÄNZUNG: Die Physiktrainer.:</B></P> 
        <p>Mit der physiktrainer.app kannst du deine Kenntnisse in Physik testen und erweitern.</p>
        <p>Diese App benutzt die gleichen Zugangsdaten wie der Rechentrainer.app.</p>
        <p>Diese App funktioniert mit Lernkärtchen. Ich nehme an du weißt wie das geht: Du bekommst eine Frage aus einem Fach und wenn du sie richtig beantwortest, wandert sie ins nächste Fach. 
            Bis du die Frage nach einiger Zeit dreimal richtig beantwortet hast.</p>
        <p>Hier legst du selbst fest, welche Schwierigkeitsstufe du bearbeiten willst.</p>
        <p>Gespeichert wird nur, welche Fragen du schon richtig beantwortet hast.</p>
        <p>Wenn dein Physiklehrer/dein Physiklehrerin eine Lerngruppe angelegt hat, kannst du dich auch dort anmelden. 
            Dein Lehrer/deine Lehrerin kann dann auch deine Arbeit bei der physiktrainer.app einsehen.</p>

