        <p><b>ERGÄNZUNG: Die rechentrainer.app:</b></p> 
        <p>Diese App benutzt die gleichen Zugangsdaten wie die physiktrainer.app.</p>
        <p>Die Aufgaben des Rechentrainers sind immer auf deinen Jahrgang und deine Schulart angepasst. In der 5. und 6. Klasse musst du z.B. 
            nicht mit Kommazahlen rechnen, ab der 7. Klasse kommen überall Aufgaben mit Kommazahlen vor.
            Als Schülerinnen oder Schüler einer Hauptschule, eines G-Kurses oder C-Kurses sind die Aufgaben oft einfacher und die Hilfen ausführlicher. Als Förderschüler kannst du den Schwierigkeitsgrad immer aussuchen. 
            <b>Daher musst du deinen Jahrgang und die Schulform angeben</b>.</p>
        <p>Wenn du den Rechentrainer für die Schule nutzt, kann deine Lehrerin/dein Lehrer eine Lerngruppe anlegen, du kannst dich dort anmelden und <b>
            dann kann deine Lehrerin/dein Lehrer deine Arbeit kontrollieren</b>.<br>
        <p>Deine Lehrerin/dein Lehrer kann festlegen, wie viele Aufgaben du in jeder Woche erledigen sollst. 
            Der Rechentrainer zeigt dann an, wie viele Aufgaben du bearbeitet hast 
            (das gibt der Rechentrainer als Prozentzahl an) und wie viele Fehler du gemacht hast (das wird prozentual angerechnet). 
            Wenn du genügend Aufgaben gemacht hast, färben sich die jeweiligen Felder grün.</p>
            Wenn du nicht willst, dass dein Lehrer/deine Lehrerin deine Arbeit kontrollieren kann, kannst du in deinem Profil, die Lerngruppe abwählen.
            Du könntest aber auch einen Fantasienamen eingeben, dann kannst du aber nicht beweisen, dass du die Aufgaben gerechnet hast. 
            Vielleicht willst du ja auch deinen Eltern zeigen, dass du fleißig für Mathematik geübt hast. 
            <b>Den Namen, denn du eingibst kannst du anschließend nicht mehr ändern</b> (Deine Lehrerin/dein Lehrer kann es, wenn du bei einer Lerngruppe angemeldet bist.).
