        <p><b>Wenn du noch jünger als 16 bist, musst du diesen Text deinen Eltern zeigen und diese müssen ihm zustimmen.</b></p>
        <p>Mit der physiktrainer.app kannst du deine Kenntnisse in Physik testen und erweitern.</p>
        <p>Diese App funktioniert mit Lernkärtchen. Ich nehme an du weißt wie das geht: Du bekommst eine Frage aus einem Fach und wenn du sie richtig beantwortest, wandert sie ins nächste Fach. 
            Bis du die Frage nach einiger Zeit dreimal richtig beantwortet hast.</p>
        <p>Du legst selbst fest, welche Schwierigkeitsstufe du bearbeiten willst.</p>
        <p>Gespeichert wird nur, welche Fragen du schon richtig beantwortet hast.</p>
        <p>Wenn dein Physiklehrer/dein Physiklehrerin eine Lerngruppe angelegt hat, kannst du dich auch dort anmelden. 
            Dein Lehrer/deine Lehrerin kann dann auch deine Arbeit bei der physiktrainer.app einsehen.</p>
        <p><b>Der Physiktrainer funktioniert nur, wenn du dich beim Physiktrainer registrierst und Cookies zulässt.</b>
        <p>Dazu musst du mit einem beliebigen Nutzernamen einen Account anlegen und ein Passwort festlegen.</p> 
        <p>Dieses wird verschlüsselt gespeichert, <b>das Passwort kann niemand auslesen</b>, auch der Administrator des Physiktrainers nicht.
            Daher ist es sinnvoll, dass du eine E-Mailadresse angibst. Wenn du dein Passwort vergisst, kann dir per E-Mail eine Anleitung geschickt werden, mit der du ein neues Passwort erstellen kannst.</p>
        <p>Wenn du die Fragen bearbeitest, muss der Physiktrainer wissen, zu welcher Frage deine Eingabe gehört. 
            Daher schickt der Physiktrainer bei deiner Anmeldung jeweils ein Cookie an dein Gerät (Smartphone, Tablett oder Computer).
            Dieses ist ein zufällige Buchstaben- und Zahlenfolge, diese wird auf deinem Gerät gespeichert und wenn du auf eine Frage antwortest oder dich neu einloggst, erkennt der Physiktrainer, dass du das bist. </p>
        <p><b>Weitere Cookies gibt es nicht, der Physiktrainer gibt deine Daten nicht weiter und es gibt auch keine Werbung.</b></p>
        <p><b>Einbindung von KI:</b></p> 
        <p>Bei einigen Fragen, ist es schwierig zu beantworten, ob deine eingegebene Antwort richtig ist. 
            Wenn die physiktrainer.app deine Antwort als falsch gewertet hat, wird die Frage und deine Antwort unter Umständen von einer KI überprüft und möglicherweise doch als richtig gewertet.</p> 
        <p>Die KI erhält keinerlei personenbezogenen Daten, nur die Frage, deine Antwort und die Lösung, die der Physiktrainer vorgeschlagen hat.</p>       
        <p>Es handelt sich um eine KI in Europa und auch der Server steht in Europa.</p>       
        <p><a href="{% url 'account_loeschen' %}">Hier kannst du deinen Account und alle Daten löschen.</a></p>       
 