{% extends 'layout.html' %}   
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
  <link rel="stylesheet" href="{% static 'medien/9_und_10.css' %}">

{% endblock %}

{% block content %}
<body>

<head>       
    <title>Aufgaben für das 9. und 10. Schuljahr</title>
</head>
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Aufgaben für das 9. und 10. Schuljahr</a>
    </div>
</header>
<div class="container">
    <div id="wrapper">
        <div id="spalte_links">
            <img src="{% static "medien/aufgaben_9_und_10.jpg" %}" height="800" width="200" alt="Grafik">
        </div>
        <div id="spalte_rechts">
            <ul>
                <li>Der Rechentrainer wird ständig weiterentwickelt.</li> 
                <li>Die Aufgabenkategorien decken bisher alle Themen ab, die bis zum Ende des 8. Schuljahres vorkommen ... na ja, fast - Aufgaben zu Wahrscheinlichkeit und zu Funktionen sind in Arbeit ...</li>
                <li>Aber es gibt noch eine andere Version des Rechentrainers, diese funktioniert aber nur auf PCs (natürlich auch auf dem Mac).<br> 
                    In dieser Version können unter anderem auch die Aufgaben für das 9. und 10. Schuljahrs geübt werden. Links siehst du einen Screnshot der Aufgabenkategorien.<br> 
                    Diese Version des Rechentrainers kann vom <a href="https://medien.bildung.hessen.de/rechentrainer/index.html">hessischen Bildungsserver</a> 
                    heruntergeladen werden. 
                    Dort finden sich auch alle Infos, Anleitungen, das Handbuch für Lehrer und weitere Programme.</li> 
                <li>Um diesen Rechentrainer zu benutzen, benötigt man also einen PC (WIN, OS und Linux), er funktioniert nicht auf Smartphones und Tablets.</li>
                <li>Weiterhin muss auf dem PC OpenOffice bzw. LibreOffice installiert sein - das hat aber Vorteile: OpenOffice ist kostenlos und kann alles, was das teure Office Paket von Microsoft kann.</li>
                <li>Die Installationsanweisung gibt es als <a href="https://medien.bildung.hessen.de/rechentrainer/rechentrainer-installieren.pdf">Text</a> 
                    und als <a href="{% url 'installation_film' %}">Film</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
</html>
