{% extends 'layout.html' %}   
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
{% endblock %}

{% block content %}

<head>       
    <title>Download der Lernbox</title>
</head>
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Download der Lernbox</a>
    </div>
</header>
<div class="container">
    <h1>Achtung - wichtig!</h1>
    <p>Wenn kein OpeneOffice/LibreOffice auf dem Computer installiert ist, man die Lernbox herunterlädt und dann auf die heruntergeladene Datei "lernbox.ots" klickt, 
    wird wahrscheinlich das Tabellenkalkulationsprogramm Excel von Microsoft diese Datei öffnen. Mit Excel funktioniert die Lernbox nicht - 
    wahrscheinlich wird sogar das Makro in der Datei gelöscht und die Lernbox funktioniert dann nicht mehr.</p>
    <p>Wenn OpenOffice/Libre Office installiert ist, kann man die Lernbox hier herunterladen:
    <button>
    <a href="{% static "medien/lernbox.ots" %}">Download</a>
    </button></p>
    <p>... ansonsten geht es hier zur:
    <button>
        <a href="{% static "medien/installieren.pdf" %}">Installationsanleitung</a>
    </button></p>
</div>
{% endblock %}
</html>