{% extends 'layout.html' %}   
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
{% endblock %}

{% block content %}
<body>

<head>       
    <title>Rechentrainerfilm</title>
</head>
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Der Film zum Rechentrainer</a>
    </div>
</header>
<div class="container">
    <body>
        <header>
        </header>
        <video width="640" height="540" controls autoplay>
            <source src="{% static "medien/film_beschreibung.mp4" %}"  type="video/mp4"></source>
        </video>
        <p>Diesen Film habe ich 2011 für meine Bewerbung für den Innovationswettbewerb der Deutschen Telekom Stiftung erstellt. <b>Ich habe den 2. Platz gewonnen!</b></p>
        <p>Der Film bezieht sich auf den "alten" Rechentrainer, der nur am PC genutzt werden kann. Die Aufgaben in der <b>rechentrainer.app</b> sind aber die gleichen. 
        Das Auswertungsprogramm benötigt man in der <b>rechentrainer.app</b> nicht mehr. Für die im Film besprochene Erstellung von Tests muss man allerdings weiterhin diese "alte" PC-Version nutzen.</p>
    </body>
</div>
{% endblock %}
</html>
