{% extends 'layout.html' %}   
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
{% endblock %}

{% block content %}
<body>

<head>       
    <title>Lernkontrollen mit dem Rechentrainer</title>
</head>
<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Lernkontrollen mit dem Rechentrainer</a>
    </div>
</header>
<div class="container">
    <div id="wrapper">
        <video width="640" height="540" controls autoplay>
            <source src="{% static "medien/film_test.mp4" %}"  type="video/mp4"></source>
        </video>
        <ul>
            <li>Mit dem Rechentrainer können Lernkontrollen erstellt und auch durchführt werden.<br> 
                Die Lehrkraft legt in einer Vorlage fest, wieviele Aufgaben von welchen Aufgabenkategorie jeweils gerechnet werden sollen und legt diese Vorlage z.B. im Intranet der Schule ab.<br> 
                Zum Testtermin öffnen die Schülerinnen und Schüler ihre jeweilige Vorlage und bearbeiten diese. Da die Aufgaben mit Zufallszahlen erzeugt werden, kann nicht beim Nachbarn/der Nachbarin abgeschrieben werden.
                Zu jeder Zeit wird die bisher erreichte Note angezeigt.<br>
                Am Ende der Bearbeitungszeit werden die Ergebnisse für alle Schülerinnen und Schüler in einer Datei ordentlich dargestellt, die Tests müssen nur noch ausgedruckt und von der Lehrkraft unterschrieben werden.<br> 
            </li> 
            <li>Speziell für SchuB Klassen gibt es auch die Möglichkeit, Lernstandserhebungen durchzuführen. Hier sind typische Aufgaben schon vorgegeben (Diese Auswahl kann von der Lehrkraft natürlich geändert werden.).<br>
                Am Ende wird das Ergebnis nicht als Note, sondern als Prozentwert für die einzelnen Lernfelder ausgegeben.<br>
                <li>Hier gibt es eine Beschreibung: <a href="https://rechentrainer.app/staticfiles/medien/handbuch.pdf#LSE">Lernstandserhebung</a>. </li>
            <li>Für diese Lernkontrollen benötigt man die Desktopversion des Rechentrainers. Bei der Nutzung von Smartphone und Tablets kann nicht kontrolliert werden kann, ob die Taschenrechnerfunktion benutzt wird.</li>
            <li>Auf den genutzten PCs muss OpenOffice bzw. LibreOffice installiert sein und dort müssen Makros zugelassen sein.</li>
            <li>Den Rechentrainer für PCs kann hier heruntergeladen werden: <a href="{% url 'download_rechentrainer' %}">zum Download</a>.</li>
            <li>Die Installationsanweisung gibt es als <a href="https://rechentrainer.app/staticfiles/medien/installieren.pdf">Text</a> 
                und als <a href="{% url 'installation_film' %}">Film</a>.</li>                
            <li>Hier wird erklärt, wie man Tests mit dem Rechentrainer erstellen und durchführen kann: <a href="https://rechentrainer.app/staticfiles/medien/handbuch.pdf#Test">Handbuch für Lehrer</a>.</li>
            <li>Und <a href="https://rechentrainer.app/staticfiles/medien/rechenduell.ods">hier</a> kann auch das im Handbuch beschriebene Rechenduell heruntergeladen werden.<br>
            Dieses macht den Schülerinnen und Schülern viel Spaß!<br>
            Auch für das Rechenduell gibt es eine Gebrauchsanweisung im <a href="https://rechentrainer.app/staticfiles/medien/handbuch.pdf#Duell">Handbuch für Lehrer</li>
        </ul>
    </div>
</div>
{% endblock %}
</html>
