<!DOCTYPE html>
{% load static %}

<html lang="de">
    <head>       
        <title>Rechentrainer von Peter Doll</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'auswahl.css' %}">
    </head>

    {% block css_files %}
    {% endblock %}

    <header>
        <div class="navbar">
            {% comment %} <a href="javascript:history.go(-1)" class="btn btn-default">zurück</a> {% endcomment %}
            <a href="{% url 'index' %}">&#8962; Home</a>
            <a>{{titel}}</a>
        </div> 
    </header>

    <container>
        {% block content %}
        {% endblock %}
    </container>
</html>