<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>       
    <title>Rechentrainer im Web</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'duell.css' %}">

</head>

<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>Rechenduell {{gruppe.name}}</a>
    </div> 
</header>
<br>
    <body>
        <div class="container">
            <form action="/duell_uebersicht/{{gruppe.id}}/" method="POST">
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th >Liga</th>
                            <th >↑</th>
                            <th >Platz</th>
                            <th width= "200px">Name</th>
                            <th >Spiele</th>
                            <th >Punkte</th>
                            <th >PPS</th>
                            <th >abwesend</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tr>
                    {% for duellant in duellanten %}
                        <tr class = {{duellant.liga}}>
                            <td>{{duellant.liga}}</td>
                            <td>{% if duellant.aufsteiger %}*{%else%}{%endif%}</td>
                            <td>{% if duellant.platz %}{{duellant.platz}}{%else%}{%endif%}</td>
                            <td style="text-align: left";>{{duellant.profil.vorname}} {{duellant.profil.nachname|slice:"30"}}</td>
                            <td>{{duellant.spiele}}</td>
                            <td>{{duellant.punkte}}</td>
                            <td>{{duellant.pps}}</td>
                            <td>
                                {% if duellant.abwesend%}
                                    <input class="form-check-input" type="checkbox" value={{duellant.id}} name="ID" checked>
                                {%else%}
                                    <input class="form-check-input" type="checkbox" value={{duellant.id}} name="ID" >
                                {%endif%}
                            </td>
                        </tr>

                    {% empty %}
                        <tr><td colspan="999"><strong>Es sind noch keine Schüler angemeldet.</strong></td></tr>
                    {% endfor %}
                    <tr>    

                    </tr>
                    </tbody>

                </table>
                <label >Abwesende übernehmen</label> 
                <input type="submit" name="abwesend" value="speichern"></button>
            </form>
        </div>
    </body>
</html>