<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>       
    <title>Rechentrainer im Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/gruppe_uebersicht.css' %}">  
</head>

<header>
    <div class="navbar">
        <a href="{% url 'index' %}">&#8962 Home</a>
        <a>{{titel}}</a>
        <a href="{% url 'duell_how_to' %}">Neu: Das Rechenduell</a>
        <a href="{% url 'duell_uebersicht' gruppe_id %}">Zum Rechenduell</a> 
        <div class="dropdown">
            <button class="dropbtn"> 
                Daten ändern
                {% comment %} <i class="fa fa-caret-down"></i> {% endcomment %}
            </button>
            {% if user.is_authenticated %}
                <div class="dropdown-content">
                <a href="{% url 'gruppe_aendern' gruppe_id %}">Daten  der Lerngruppe ändern</a>
                <a href="{% url 'gruppe_loeschen' gruppe_id %}">Lerngruppe löschen</a>
                <a href="{% url 'suchen' gruppe_id %}">Account von Schüler/in löschen</a>        
                </div>
            {% endif %}
         </div> 
    </div> 
</header>
<br>
<body>
    <form action="{% url 'gruppe_uebersicht' gruppe_id %}" method="POST">
        {% csrf_token %}
        <h2 style= "text-align: left;"> Zeitraum: 
            <button type="button">
                {{form_filter.auswahl}}
            </button type="button">
            <button type="button">
                <input name="filter" type="submit" value="anwenden">
            </button type="button">
        </h2>
    </form>
    <br> 
    <table>
        <thead>
            <tr>
                <th >Name</th>
                    {% if note_anzeigen %}
                        <th>erledigt</th>
                        <th>Note</th>
                    {% endif %}
                <th >Zeit</th>
                <th >Summe</th>
                {% for kategorie in kategorien %}
                    <th>
                        <div class="rotated-th"; style="{{kategorie.farbe}}">
                            <span class="rotated-th__label">
                                {{kategorie.name}}
                            </span>
                        </div>
                    </th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{wahl}}</td>
                {% if note_anzeigen %}
                    <td></td>
                    <td></td>
                {% endif %}
                <td>{{gesamtzeit}}</td>         
                {% for quote, summe in summen %}
                    <td class="{{quote}}">{{summe}}</td>  
                {% endfor %}
                </td>
            </tr>
            {% for schueler, hj_stimmt, prozent_summe_farbe, prozent_summe, note, dauer, aufgaben in aufgaben_der_schueler %}
                <tr >
                    <td style="text-align: left";>
                        <a  class="button" href="{% url 'mein_schueler' schueler.id hj_stimmt %}">{{schueler.vorname}} {{schueler.nachname}} {{schueler.klasse}}</a></td>
                    {% if note_anzeigen %}
                        <td class="{{prozent_summe_farbe}}">{{prozent_summe}}%</td>
                        <td class="{{prozent_summe_farbe}}">{{note}}</td>
                    {% endif %}

                    <td>{{dauer}}</td>
                    {% for quote, anzahl in aufgaben %}
                        <td class="{{quote}}">{{anzahl}}</td>
                    {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="999"><strong>Es sind noch keine Schüler angemeldet.</strong></td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>