{% extends 'auswahl.html' %}  
{% block content %}
    <body>
        {%  if aktuelles_hj == "True" %}
            <br>
            <form action="/uebersicht/{{schueler.id}}/" method="POST">
                {% csrf_token %}
                <input type="submit" name="zurück" value="Arbeitsergebnisse anzeigen">
            </form> 
            <br> 
        {% else %}
            <p>keine Aufgaben im aktuellen Halbjahr</p>
        {% endif %}
        <form action="/protokoll/{{schueler.id}}/" method="GET">        
            <input type="submit" name="zurueck" value="Protokoll anzeigen">
        </form>
        <br>
        <form action="/schueler_aendern/{{schueler.id}}/" method="GET"> 
            {% csrf_token %}
            <input type="submit" name="zurueck" value="Daten ändern">
        </form> 
        <br>
        <button>
            <a href="{% url 'gruppe_uebersicht' gruppe.id %}">zurück</a>
        </button>
    </body>
{% endblock %}
